BOT_TOKEN=
ADMIN_IDS=1593868942
PUBLIC_BASE_URL=
WEBHOOK_SECRET=change-me
DATABASE_PATH=last_keeper.db
EVENT_DATES=2026-11-16,2026-11-17
TEAM_CAPACITY=30
LOCATION_CODE_CULTURE=CULT26
LOCATION_CODE_SCIENCE=SCI26
LOCATION_CODE_HISTORY=HIST26
LOCATION_CODE_MEMORY=MEM26
LOG_LEVEL=INFO
